<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="cover">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Products</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="background-image-fixed cover-image" style="background-image : url('https://unsplash.imgix.net/photo-1418065460487-3e41a6c84dc5?q=75&amp;fm=jpg&amp;s=127f3a3ccf4356b7f79594e05f6c840e')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-inverse">Parishod.com</h1>
                        <p class="text-inverse"></p>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-3">
                        <a href="https://twitter.com/adeekshith"><i class="fa fa-5x fa-fw fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a href="https://www.facebook.com/adeekshith"><i class="fa fa-5x fa-fw fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-3 text-center">
                        <a href="https://github.com/adeekshith/"><i class="fa fa-5x fa-fw fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Gallery</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="http://www.deekshith.in/p/docs-online-viewer.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        <h3>Docs Online Viewer</h3>
                        <p>View documents in websites right in your browser.</p>
                    </div>
                    <div class="col-md-4">
                        <a href="https://play.google.com/store/apps/details?id=in.deekshith.saneflashlight"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        <h2>Sane Flashlight</h2>
                        <p>A simple and non annoying Flashlight app for Android.</p>
                    </div>
                    <div class="col-md-4">
                        <a href="https://github.com/adeekshith/location-predict-server"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        <h2>LocAction</h2>
                        <p>A location based auto alert app server
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="https://github.com/adeekshith/whatsapp-tracker"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
                        <h3>WhatsApp tracker (Alpha)</h3>
                        <p>View documents in websites right in your browser.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center text-primary">About</h1>
                        <p class="text-center"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="https://dl.dropboxusercontent.com/u/39043079/pics/deek2.jpg"
                        class="center-block img-responsive img-rounded">
                        <h3 class="text-center">Deekshith Allamaneni</h3>
                        <p class="text-center">Developer</p>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
        </div>
    </body>

</html>